@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    background: white !important;
  }

  .print\:hidden {
    display: none !important;
  }

  #invoice-content {
    box-shadow: none !important;
    width: 210mm !important;
    min-height: 297mm !important;
    margin: 0 !important;
  }
}
